{% extends 'base.html' %}

{% block content %}
<h1>Baby Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ baby.name }}</span>
        <p>Gender: {{ baby.gender }}</p>
        <p>Personality: {{ baby.personality }} </p>
        {% if baby.age > 0 %}
          <p>Age: {{ baby.age }}</p>
        {% else %}
          <p>Welcome {{baby.name}} to the world!</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'babies_update' baby.id %}">Edit</a>
        <a href="{% url 'babies_delete' baby.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'change_diaper' baby.id %}" method="POST">
      {% csrf_token %}
      {{ diaper_form.as_p }}
      <input type="submit" value="Change Diaper!" class="btn">
    </form>
    {% if baby.changed_for_today %}
      <div class="card-panel teal-text center-align">{{baby.name}} is nice and clean!</div>
    {% else %}
        <div class="card-panel red-text center-align">{{baby.name}} might need a diaper change!</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Changing Date</th>
          <th>Changing Time</th>
        </tr>
      </thead>
      <tbody>
        {% for diaper in baby.diaper_set.all %}
        <tr>
          <td>{{ diaper.date }}</td>
          <td>{{ diaper.get_changing_time_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  const selectEl = document.getElementById('id_changing_time');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    default: new Date(),
    setDefault: true,
    autoClose: true,
  });

  M.FormSelect.init(selectEl);
</script>

{% endblock%}